{% extends 'frontend/base.html' %}
{% load static %}

{% block main_page %}
    {% block menu1 %} {% endblock %}

    <section class="login">
            <div class="auto-container">
                <div class="m-auto col-md-9 login-box p0">
                    <div class="left-block col-md-6 col-sm-6 col-xs-12 p0">
                        <img src="{% static 'usertheme/images/login.jpg' %}" alt="" width="100%">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% block message_error %}
                            {% if messages %}
                                {% for message in messages %}
                                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <span style="margin-left: 10px">{{ message }}</span>
                                        </div>
                                {% endfor %}
                            {% endif %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <span style="margin-left: 10px">{{ form.non_field_errors }}</span>
                                </div>
                            {% endif %}
                        {% endblock message_error %}
                        <form action="#" method="POST" role="form" class="default-form" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" required name="username" class="form-control">
                                        <span class="error" style="display:block !important;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" required name="password" class="form-control">
                                        <span class="error" style="display:block !important;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <button class="theme-btn btn-style-two" type="submit">Sign in</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-xs-0">
                                        <div class="pull-right"><a href="#">Forgot Password</a></div>
                                    </div>
                                </div>
                            </div>
                        </form>                    </div>
                </div>
            </div>
        </section>
{% endblock main_page %}