{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Payloop - SuperAdmin & Backend Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'upload/logo/1552903469favicon.png' %}">
    <!-- App css -->
    <link href="{% static 'backend/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/assets/css/icons.min.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/assets/css/theme.min.css' %} " rel="stylesheet" type="text/css" />

</head>

<body>
 
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <div class="logo">
                                                <a href="#">
                                                    <img src="{% static 'upload/logo/1552911260logo.png' %}" alt="" height="50">
                                                </a>
                                            </div>
                                        </div>
                                        <h1 class="h5 mb-1">Welcome Back!</h1>
                                        <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>
                                        <form class="user">
                                            <div class="form-group">
                                                {{ form.username }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password }}
                                            </div>
                                            <button type="submit" class="btn btn-success btn-block waves-effect waves-light"> Log In </button>
                                        </form>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <!-- jQuery  -->
    <script src="{% static 'backend/assets/js/jquery.min.js' %} "></script>
    <script src="{% static 'backend/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/metismenu.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/waves.js' %}"></script>
    <script src="{% static 'backend/assets/js/simplebar.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'backend/assets/js/theme.js' %}"></script>

</body>

</html>