{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Payloop - Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Payloop is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc."  />
    <meta name="author"  content="Kilanko Daniel" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{% static 'upload/logo/1552903469favicon.png' %}">
    <!-- App css -->
    <link href="{% static 'backend/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/assets/css/icons.min.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/assets/css/theme.min.css' %} " rel="stylesheet" type="text/css" />

    {% block page_css %}

    {% endblock page_css %}

</head>

<body {% if ref_id %}onload="payWithRave()" {% endif %}>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">

                <div class="d-flex align-items-left">
                    <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                </div>

                <div class="d-flex align-items-center">

                    <div class="dropdown d-inline-block ml-2">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-sm-inline-block ml-1">{{ user.get_full_name }}</span>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="{% url 'logout' %}">
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <div class="navbar-brand-box">
                    <a href="#">
                        <img src="{% static 'usertheme/images/logo-white.png' %}" alt="" height="50">
                    </a>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                    {% if is_staff %}
                        <li>
                            <a href="{% url 'dashboard' %}" class="waves-effect">
                                <i class="feather-airplay"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'banner_text' %}" class="waves-effect">
                                <i class="feather-battery"></i>
                                <span>Banner Text</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                    class="feather-copy"></i><span>Product</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'new_product' %}">New Product</a></li>
                                <li><a href="{% url 'product_list' %}">All Product</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'new_package' %}" class="waves-effect">
                                <i class="feather-alert-octagon"></i>
                                <span>Packages</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'customer_list' %}" class="waves-effect">
                                <i class="feather-user"></i>
                                <span>Client</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'demo_list_view' %}" class="waves-effect">
                                <i class="feather-activity"></i>
                                <span>Demo List</span>
                            </a>
                        </li>

                     {% else %}
                        <li>
                            <a href="{% url 'customer_profile' customer_id %}" class="waves-effect">
                                <i class="feather-user"></i>
                                <span>Client</span>
                            </a>
                        </li>
                     {% endif %}

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block message_error %}
                        {% if messages %}
                            {% for message in messages %}
                                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <span style="margin-left: 10px">{{ message }}</span>
                                    </div>
                            {% endfor %}
                        {% endif %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span style="margin-left: 10px">{{ form.errors }}</span>
                            </div>
                        {% endif %}
                    {% endblock message_error %}
                    {% block page %}
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Payloop</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endblock page %}

                    <!-- end page title -->
                    {% block page_content %}
                        Content Comes Here
                    {% endblock page_content %}

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2019 © Payloop
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Developed by Koye Kairos Team
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>

    <!-- jQuery  -->
    <script src="{% static 'backend/assets/js/jquery.min.js' %} "></script>
    <script src="{% static 'backend/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/metismenu.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/waves.js' %}"></script>
    <script src="{% static 'backend/assets/js/simplebar.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'backend/assets/js/theme.js' %}"></script>
    <script>
      $(document).on('click', '.confirm-action', function(){
            return confirm('This action cannot be recalled. Are you sure you want to proceed?');
        });
      $(document).on('click', '.confirm', function(){
            return confirm('Are you sure you want to proceed?');
        });
    </script>

    {% block page_js %}
        <script src="{% static 'backend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/dataTables.bootstrap4.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/buttons.flash.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/dataTables.select.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/pdfmake.min.js' %}"></script>
        <script src="{% static 'backend/plugins/datatables/vfs_fonts.js' %}"></script>
        <!-- third party js ends -->

        <!-- Datatables init -->
        <script src="{% static 'backend/assets/pages/datatables-demo.js' %}"></script>
    {% endblock page_js %}


</body>

</html>