{% extends 'backend/base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'backend/plugins/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/plugins/datatables/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/plugins/datatables/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'backend/plugins/datatables/select.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
{% endblock page_css %}

{% block page %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Demo List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Payloop</a></li>
                    <li class="breadcrumb-item active">List of requested demo</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page %}
    <!-- end page title -->
    {% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="basic-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in object_list %}
                                <tr>
                                    <td>{{ item.first_name }} {{ item.last_name }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.company_name }}</td>
                                    <td>{{ item.address }}</td>
                                    <td>
                                        <a href="#"><span class="fa fa-search text-black"></span></a>
                                        <a href="#" class="confirm"><span class="fa fa-trash text-danger"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
    {% endblock page_content %}
