{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title><!-- Stylesheets -->
    <link href="{% static 'usertheme/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'usertheme/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'usertheme/css/aos.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'upload/logo/1552903469favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'upload/logo/1552903469favicon.png' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{% static 'usertheme/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'usertheme/css/themify/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'usertheme/css/font-awesome.css' %}" rel="stylesheet">

    {% block page_css %}

    {% endblock %}

</head>

<body>
    <div class="page-wrapper">
<!--        <div class="preloader"></div>-->

        {% block header %}
        <!-- Main Header-->
        <header class="main-header">
            <!-- Main Box -->
            <div class="main-box">
                <div class="auto-container">
                    <div class="outer-container clearfix">
                        <div class="logo-box">
                            <div class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'upload/logo/1552911260logo.png' %}" alt="" height="50"></a></div>
                        </div>
                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button --><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>

                                {% block menu1 %}
                                <div class="navbar-collapse collapse scroll-nav clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="#home">Home</a></li>
                                        <li class="dropdown" ><a href="#">Products</a>
                                            <ul class="dropdown-large">
                                                <div class="container">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="title">
                                                            <img src="{% static 'usertheme/images/website.png' %}" alt="">
                                                            <span> Payloop ERP</span>
                                                            <p>Enterprise Resource Planning Customizable for your business</p>
                                                        </span>
                                                        {% for item in base_products  %}
                                                            <span>
                                                                <a href="{% url 'product_detail' item.id %}">{{ item.name }}</a>
                                                            </span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="title">
                                                            <img src="{% static 'usertheme/images/sales.png' %}" alt="">
                                                            <span> Payloop Education</span>
                                                            <p>Pack of educational modules</p>
                                                        </span>
                                                        {% for item in base_products2  %}
                                                            <span>
                                                                <a href="{% url 'product_detail' item.id %}">{{ item.name }}</a>
                                                            </span>
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="#pricing">Pricing</a></li>
                                        <li><a href="#service">Services</a></li>
                                        <li><a href="#inventory">Gallery</a></li>
                                        <li><a href="#contact">Contact Us</a></li>
                                        <div class="other-links">
                                            <a href="{% url 'login' %}" class="theme-btn btn-style-one"><span class="fa fa-sign-in"></span> Sign In</a>
{#                                            <a href="#" class="theme-btn btn-style-one"><span class="fa fa-user"></span> Register</a>#}
                                        </div>
                                    </ul>
                                </div>
                                {% endblock menu1 %}

                                {% block menu2 %}
                                <div class="navbar-collapse collapse scroll-nav clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="https://www.payloop.net#home">Home</a></li>
                                        <li class="dropdown" ><a href="https://www.payloop.net#">Products</a>
                                            <ul class="dropdown-large">
                                                <div class="container">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="title">
                                                            <img src="{% static 'usertheme/images/website.png' %}" alt="">
                                                            <span> Payloop ERP</span>
                                                            <p>Open source business apps</p>
                                                        </span>
                                                        {% for item in base_products  %}
                                                            <span>
                                                                <a href="{% url 'product_detail' item.id %}">{{ item.name }}</a>
                                                            </span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="title">
                                                            <img src="{% static 'usertheme/images/sales.png' %}" alt="">
                                                            <span> Education System</span>
                                                            <p>deployable on Odoo platform</p>
                                                        </span>
                                                        {% for item in base_products2  %}
                                                            <span>
                                                                <a href="{% url 'product_detail' item.id %}">{{ item.name }}</a>
                                                            </span>
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="https://www.payloop.net#pricing">Pricing</a></li>
                                        <li><a href="https://www.payloop.net#service">Services</a></li>
                                        <li><a href="https://www.payloop.net#inventory">Gallery</a></li>
                                        <li><a href="https://www.payloop.net#contact">Contact Us</a></li>
                                        <div class="other-links">
                                            <a href="{% url 'login' %}" class="theme-btn btn-style-one"><span class="fa fa-sign-in"></span> Sign In</a>
{#                                            <a href="#" class="theme-btn btn-style-one"><span class="fa fa-user"></span> Register</a>#}
                                        </div>
                                    </ul>
                                </div>
                                {% endblock menu2 %}

                            </nav><!-- Main Menu End-->
                            <!--Other Links-->
                        </div>
                        <!--Nav Outer End-->
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->
        {% endblock header %}

        {% block main_page %}
            No Content Here
        {% endblock main_page %}



        {% block footer %}
        <!--Footer Style One-->
        <footer class="footer-style-one" data-aos="fade-up" data-aos-delay="300">
            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer-column">
                                <div class="footer-widget about-widget">
                                    <div class="widget-inner">
                                        <div class="logo">
                                            <img src="{% static 'usertheme/images/logo-white.png' %}" alt="" height="70">
                                        </div>
                                        <p>Payloop is a suite of business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc. </p>
                                        <div class="copyright">&copy; 2020 Payloop.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Big Column-->
                        <div class="big-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Company</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">About us</a></li>
                                                    <li><a href="#">Careers</a></li>
                                                    <li><a href="#">Contact us </a></li>
                                                    <li><a href="#">Customers</a></li>
                                                    <li><a href="#">Career</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Resources</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">Library</a></li>
                                                    <li><a href="#">Support</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                    <li><a href="#">Live webinars</a></li>
                                                    <li><a href="#">API & Developers</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Solutions</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">Consumer</a></li>
                                                    <li><a href="#">Financial Services</a></li>
                                                    <li><a href="#">Media & Entertainment</a></li>
                                                    <li><a href="#">SaaS</a></li>
                                                    <li><a href="#">Infrastructure</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Contact Links</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="tel:+234 7030288661" class="fa fa-phone"> +234 7030288661</a></li>
                                                    <li><a href="mailto:enquiries@payloop.net" class="fa fa-envelope"> enquiries@payloop.net</a></li>
                                                    <li style="color: #B8B8B8"><a href="#" class="fa fa-map-marker"></a> 5, Tony Anegbode street. Off Sinari Darinijo.
                                            Off Ligali Ayorinde. Victoria Island. Lagos Nigeria.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}

    </div>
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
    <script src="{% static 'usertheme/js/jquery.js' %}"></script>
    <script src="{% static 'usertheme/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'usertheme/js/pagenav.js' %}"></script>
    <script src="{% static 'usertheme/js/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'usertheme/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'usertheme/js/owl.js' %}"></script>
    <script src="{% static 'usertheme/js/wow.js' %}"></script>
    <script src="{% static 'usertheme/js/validate.js' %}"></script>
    <script src="{% static 'usertheme/js/script.js' %}"></script>
    <script src="{% static 'usertheme/js/aos.js' %}"></script>
    {% block page_js %}{% endblock page_js %}

    <script>
        AOS.init({
            useClassNames: true,
            initClassName: false,
            animatedClassName: 'animated',
            offset: 20,
        });
    </script>
</body>

</html>