{% extends 'frontend/base.html' %}
{% load static %}
{% block page_css  %}
    <style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    </style>
{% endblock page_css %}

{% block main_page %}

        {% block menu1 %} {% endblock %}
        <section class="product-banner crm">
            <div class="auto-container text-center">
                <h3>Payloop Education </h3>
                <p>Education Module</p>
                <a href="{% url 'register_product' 1 'education' %}"><button class="btn btn-theme1">Start Now</button></a>
                <button class="btn btn-theme1 outline" data-toggle="modal" data-target="#demoModal">Schedule A Demo</button>

            </div>
        </section>
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span style="margin-left: 10px">{{ message }}</span>
                    </div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span style="margin-left: 10px">{{ form.errors }}</span>
            </div>
        {% endif %}
        <section class="pad pad-big four-circle">
            <div class="auto-container">
                <div class="row df">
                    {% for item in product %}
                        <div class="col-xs-3 col-md-2" style="margin-bottom: 32px;" data-toggle="tooltip" data-placement="top" title="{{ item.name }}">
                            <img style="max-width: 50px" src="{{ item.icon.url }}" />
                        </div> <br />
                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <div class="auto-container">
                {% for object in product %}
                    <div class="row" style="margin-top:25px;">
                        <div class="col-md-8">
                            <h3>{{ object.name }} Module</h3>
                            <p>
                                {{ object.content|safe }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="por fb image-block">
                                {% if object.gallery1 %}
                                    <img src="{{ object.gallery1.url }}" style="width: 100%" alt="{{ object.name }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!--Modal -->
                <div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Please complete our demo form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <form method="post" action="{% url 'demo_view' 'none' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                  <div class="form-group">
                                        {{ form }}
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>

                <!-- End Modal -->
{% endblock main_page %}