{% extends 'frontend/base.html' %}
{% load static %}

{% block main_page %}
    <section class="login">
            <div class="auto-container">
                <div class="m-auto col-md-9 login-box p0">
                    <div class="left-block col-md-6 col-sm-6 col-xs-12 p0">
                        <img src="http://payloop.net/usertheme/images/login.jpg" alt="" width="100%">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">

						<form action="http://payloop.net/Forgot_password" method="POST" role="form" class="default-form" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <img src="http://payloop.net/usertheme/images/logo.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Please enter your email address we'll send you instruction on how to reset password</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mtb">
                                        <label>Your Email</label>
                                        <input type="text" name="email" class="form-control">
                                        <span class="error" style="display:block !important;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group "><button type="submit" class="theme-btn btn-style-two">Send</button></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-xs-0">
                                        <div class="pull-left"><a href="http://payloop.net/Login">Back to login</a></div>
                                    </div>
                                </div>
                            </div>
                       </form>                    </div>
                </div>
            </div>
        </section>
{% endblock main_page %}