{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}

{% block main_page %}
    {% block menu2 %} {% endblock %}
    <!-- Main Banner -->
    <section class="main-banner banner-one" id="home" style="background-image:url('{% static 'usertheme/images/background/banner-bg-1.png' %}');">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        {% if banner_text %}
                            <h4>{{ banner_text.title }}</h4>
                            <h2>{{ banner_text.highlight }}</h2>
                            <p>{{ banner_text.content }}</p>
                            <a href="#pricing" class="theme-btn btn-style-two">Start Now <span class="icon ti-arrow-circle-right"></span></a>
                        {% else %}
                            <h4>Please activate a text</h4>
                        {% endif %}
                    </div>
                </div>
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner text-right">
                        <figure class="image">
                            <img src="{% static 'upload/banner/1552909751banner-image-1.png' %}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products -->
    <section class="products-section" id="products">
        <div class="auto-container">
            <!--Heading-->
            <div class="sec-title text-center">
                <div class="icon">
                    <figure data-aos="fade-up" class="image">
                        <img src="{% static 'upload/product/1552974527icon-29.png' %}" alt="">
                    </figure>
                </div>
                <h2 data-aos="fade-up" data-aos-delay="100">Products</h2>
                <div class="desc-text" data-aos="fade-up" data-aos-delay="200"><p>Fully ERP Integrated Apps</p></div>
            </div>
            <!--Services-->
            <div class="services-outer clearfix">

                {% for item in erp  %}
                <div class="service-style-one col-md-3 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="inner-box">
                        <div class="icon">
                            <figure class="image"><img src="{{ item.icon.url }}" alt=""></figure>
                        </div>
                        <h3><a href="{% url 'product_detail' item.id %}">{{ item.name }}</a></h3>
                        <div class="text"><p>{{ item.content|safe|truncatechars:65 }}</p></div>
                        <div class="link-box"><a href="{% url 'product_detail' item.id %}">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                    </div>
                </div>
                {% endfor %}

            </div>
{#            <div class="text-center fb">#}
{#                <a href="#"><button class="btn btn-primary btn-lg" data-aos="fade-up" data-aos-delay="100">View All</button></a>#}
{#            </div>#}
        </div>
    </section>

    <!--Pricing Section -->
    <section class="pricing-section" id="pricing">
        <div class="sec-title text-center">
            <div class="icon">
                <figure data-aos="fade-up" class="image">
                    <img src="{% static 'upload/product/1552974527icon-29.png' %}" alt="">
                </figure>
            </div>
            <h2 data-aos="fade-up" data-aos-delay="100">Pricing</h2>
            <div class="desc-text" data-aos="fade-up" data-aos-delay="200"><p>Payloop ERP</p></div>
        </div>
        <div class="pricing-wrapper clearfix">

            {% for package in packages %}
                <div class="pricing-table">
                    <h3 class="pricing-title">{{ package.name }}</h3>
                    <div class="price" style="font-size: 15px;">{{ package.des|capfirst }}</div>
                    <ul class="table-list">
                        {% for item in erp %}
                            {% if package.p_type == 3 %}
                                {% if forloop.first %}
                                    <form action="{% url 'process_modular' package.id %}" method="post">
                                {% endif %}
                                    {% csrf_token %}
                                        <input type="checkbox" name="{{ item.id }}" value="{{ item.id }}" /> <span style="text-align: left">{{ item.name }} (₦{{ item.amount|intcomma }})</span>  <br />
                                    {% if forloop.last %}
                                        <button style="margin: 5px 0 15px 0" type="submit" class="btn btn-danger btn-lg " >Get Started</button>
                                    {% endif %}
                                {% if forloop.last %}
                                </form>
                                {% endif %}
                            {% elif package.p_type == 1 %}
                                <span class="fa fa-check-circle text-success"></span> {{ item.name }} (₦{{ item.amount|intcomma }}) <br />
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if package.p_type is 2%}
                        <a class="btn btn-danger btn-lg" style="margin: 5px 0 15px 0" type="button" href="{% url 'register_product' package.id 'custom' %}">Talk to us</a>
                    {% elif package.p_type is 1 %}
                        <a class="btn btn-danger btn-lg" style="margin: 5px 0 15px 0" type="button" href="{% url 'register_product' package.id 'all_package' %}">Get Started</a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </section>


    <!--Features Section-->
    <section class="features-section-two" id="service">
        <div class="auto-container">
            <div class="features-container clearfix">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-md-4 col-sm-12 col-xs-12">
                        <div class="inner">
                            <h2 data-aos="fade-up" data-aos-delay="100">Our Services</h2>
                            <div class="text" data-aos="fade-up" data-aos-delay="200"><p>A speedy ERP Implementation minimizes disruption, improves performance, and adds to the bottom line of the business without wasting valuable resources on the process.</p></div>
{#                            <div class="more-link-one" data-aos="fade-up" data-aos-delay="300"><a href="#" class="theme-btn">See more <span class="icon ti-arrow-circle-right"></span></a></div>#}
                        </div>
                    </div>
                    <!--Features Column-->
                    <div class="features-column col-md-8 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="row clearfix">
                                <!--Feature Block-->
                                <div class="feature-block-two col-md-6 col-sm-6 col-xs-12" data-aos="fade-left" data-aos-delay="100">
                                    <div class="inner-box">
                                        <div class="icon">
                                            <figure class="image">
                                                <img src="{% static 'upload/service/1552984603implement.png' %}" alt="">
                                            </figure>
                                        </div>
                                        <h3><strong>Implementation</strong></h3>
                                        <div class="text"><p>Requirement Research, Project Planning, Solution Design</p></div>
                                    </div>
                                </div>

                                <div class="feature-block-two col-md-6 col-sm-6 col-xs-12" data-aos="fade-left" data-aos-delay="100">
                                    <div class="inner-box">
                                        <div class="icon">
                                            <figure class="image">
                                                <img src="{% static 'upload/service/1552984668development.png' %}" alt="">
                                            </figure>
                                        </div>
                                        <h3><strong>Development</strong></h3>
                                        <div class="text"><p>Custom Feature Development, Process Enhancement</p></div>
                                    </div>
                                </div>

                                <div class="feature-block-two col-md-6 col-sm-6 col-xs-12" data-aos="fade-left" data-aos-delay="100">
                                    <div class="inner-box">
                                        <div class="icon">
                                            <figure class="image">
                                                <img src="{% static 'upload/service/1552984693support.png' %}" alt="">
                                            </figure>
                                        </div>
                                        <h3><strong>Support</strong></h3>
                                        <div class="text"><p>Bug Fixes Guarantee, SLA Based Support</p></div>
                                    </div>
                                </div>

                                <div class="feature-block-two col-md-6 col-sm-6 col-xs-12" data-aos="fade-left" data-aos-delay="100">
                                    <div class="inner-box">
                                        <div class="icon">
                                            <figure class="image">
                                                <img src="{% static 'upload/service/1552984719training.png' %}" alt="">
                                            </figure>
                                        </div>
                                        <h3><strong>Training</strong></h3>
                                        <div class="text"><p>Technical, Functional and administrator Trainings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--Inventory Section-->
    <section class="inventory-section" id="inventory">
        <div class="auto-container">
            <!--Heading-->
            <div class="sec-title centered">
{#                    <div class="icon" data-aos="fade-up" data-aos-delay="100">#}
{#                        <figure class="image"><img src="{% static 'usertheme/images/icons/icon-13.png' %}" alt=""></figure>#}
{#                    </div>#}
                <h2>Inventory Management</h2>
                <div class="desc-text">Solution is an easy to use tool for Idea. <br>You can present your products.</div>
            </div>
            <div class="content-box">
                <div class="inventory-tabs">
                    <ul class="tab-buttons clearfix" data-aos="fade-up" data-aos-delay="300">
                        <li class="tab-btn" data-tab="#tab-one">All Product</li>
                        {% for item in products %}
                            <li class="tab-btn" data-tab="#{{ item.name }}">{{ item.name }}</li>
                        {% endfor %}
                    </ul>

                    <div class="tabs-content" data-aos="fade-up" data-aos-delay="400">
                        <!--Tab / Active tab-->
                        <div class="tab active-tab" id="tab-one">
                            <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                                {% for item in products %}
                                    {% if item.gallery1 %}
                                        <li>
                                            <a href="{{ item.gallery1.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery1.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery2 %}
                                        <li>
                                            <a href="{{ item.gallery2.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery2.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery3 %}
                                        <li>
                                            <a href="{{ item.gallery3.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery3.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery4 %}
                                        <li>
                                            <a href="{{ item.gallery4.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery4.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                        <!--Tab-->
                        {% for item in products %}
                            <div class="tab" id="{{ item.name }}">
                                <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                                    {% if item.gallery1 %}
                                        <li>
                                            <a href="{{ item.gallery1.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery1.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery2 %}
                                        <li>
                                            <a href="{{ item.gallery2.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery2.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery3 %}
                                        <li>
                                            <a href="{{ item.gallery3.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery3.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if item.gallery4 %}
                                        <li>
                                            <a href="{{ item.gallery4.url }}" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption">
                                                <img src="{{ item.gallery4.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        {% endfor %}
                        <!--Tab-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
{#    <section class="testimonials-section">#}
{#        <div class="auto-container">#}
{#            <div class="outer-container">#}
{#                <!--Testimonials-->#}
{#                <div class="testimonials-carousel-one single-item-carousel owl-theme owl-carousel" data-aos="fade-up" data-aos-delay="200">#}
{#                    <!--Slide Item-->#}
{#                    <div class="slide-item">#}
{#                        <div class="row clearfix">#}
{#                            <!--Text Column-->#}
{#                            <div class="text-column col-md-7 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="text"><p>&ldquo;Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.&rdquo;</p></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--Info Column-->#}
{#                            <div class="info-column col-md-5 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="info">#}
{#                                        <figure class="thumb img-circle">#}
{#                                            <img class="img-circle" src="{% static 'upload/testimonial/1552915690author-thumb-1.jpg' %}" alt="">#}
{#                                        </figure>#}
{#                                        <h4>Jems</h4>#}
{#                                        <div class="designation">Product Designer at UI_Expert</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="slide-item">#}
{#                        <div class="row clearfix">#}
{#                            <!--Text Column-->#}
{#                            <div class="text-column col-md-7 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="text"><p>&ldquo;Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.&rdquo;</p></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--Info Column-->#}
{#                            <div class="info-column col-md-5 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="info">#}
{#                                        <figure class="thumb img-circle">#}
{#                                            <img class="img-circle" src="{% static 'upload/testimonial/1552915690author-thumb-1.jpg' %}" alt="">#}
{#                                        </figure>#}
{#                                        <h4>Jems</h4>#}
{#                                        <div class="designation">Product Designer at UI_Expert</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="slide-item">#}
{#                        <div class="row clearfix">#}
{#                            <!--Text Column-->#}
{#                            <div class="text-column col-md-7 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="text"><p>&ldquo;Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.&rdquo;</p></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--Info Column-->#}
{#                            <div class="info-column col-md-5 col-sm-12 col-xs-12">#}
{#                                <div class="inner">#}
{#                                    <div class="info">#}
{#                                        <figure class="thumb img-circle">#}
{#                                            <img class="img-circle" src="{% static 'upload/testimonial/1552915690author-thumb-1.jpg' %}" alt="">#}
{#                                        </figure>#}
{#                                        <h4>Jems</h4>#}
{#                                        <div class="designation">Product Designer at UI_Expert</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Contact Section -->
    <section class="contact-section" id="contact">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="inner">
                        <figure class="image">
                            <img src="{% static 'upload/banner/1552909751banner-image-1.png' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-6 col-sm-12 col-xs-12">
                    <div class="sec-title">
                        <h2 data-aos="fade-up" data-aos-delay="150">GET IN TOUCH</h2>
                        <div class="desc-text" data-aos="fade-up" data-aos-delay="250"><p>Contact us about anything related to our company or services,We&#39;ll do our best to get back to you as soon as possible.</p></div>
                    </div>
                    <!--Contact Form-->
                    <div class="default-form contact-form">
                        <form method="post" id="contact-form">
                            <div class="form-group" data-aos="fade-up" data-aos-delay="300">
                                <input type="text" id="bname" name="bname" value="" placeholder="Name">
                                <span id="bname_error" style="color:red;"></span>
                            </div>
                            <div class="form-group" data-aos="fade-up" data-aos-delay="450">
                                <input type="text" id="phone" name="phone" value="" placeholder="Phone Number" onkeypress="return checkOnlyDigits(event)">
                                <div id="errorMsg"></div>
                                <span id="phone_error" style="color:red;"></span>
                            </div>
                            <div class="form-group" data-aos="fade-up" data-aos-delay="500">
                                <input type="text" id="email" name="email" value="" placeholder="Email Address">
                                <span id="email_error" style="color:red;"></span>
                            </div>
                            <div class="form-group" data-aos="fade-up" data-aos-delay="500">
                                <textarea cols="4" required id="message" rows="6" placeholder="Messages"></textarea>
                                <span id="message_error" style="color:red;"></span>
                            </div>

                            <div class="form-group" data-aos="fade-up" data-aos-delay="550">
                                <button type="submit" class="theme-btn btn-style-two">Submit form <span class="icon ti-arrow-circle-right"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--End Contact Form-->
                </div>
            </div>
        </div>
    </section>
{% endblock main_page %}