{% extends 'frontend/base.html' %}
{% load static %}

{% block main_page %}
    <section class="product-banner services">
        <div class="auto-container text-center">
            <h3>Pricing</h3>
            <p>Something nice is coming here</p>
        </div>
    </section>

    <section>
        <div class="pricing-wrapper clearfix">

            {% for package in packages %}
                <div class="pricing-table">
                    <h3 class="pricing-title">{{ package.name }}</h3>
                    <div class="price">₦60<sup>/ module</sup></div>
                    <ul class="table-list">
                        <li>Item 1 <span>Something Nice</span></li>
                    </ul>
                    <div class="table-buy">
                        <a href="{% url 'register_product' package.id %}" class="pricing-action">Buy Now</a>
                    </div>
                </div>
            {% endfor %}


        </div>
    </section>

{% endblock main_page %}


