<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Products</title><!-- Stylesheets -->
    <link href="http://payloop.net/usertheme/css/bootstrap.css" rel="stylesheet">
    <link href="http://payloop.net/usertheme/css/style.css" rel="stylesheet">
    <link href="http://payloop.net/usertheme/css/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://payloop.net/upload/logo/1552903469favicon.png" type="image/x-icon">
    <link rel="icon" href="http://payloop.net/upload/logo/1552903469favicon.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="http://payloop.net/usertheme/css/responsive.css" rel="stylesheet">
	
</head>

<body>
    <div class="page-wrapper">
        <div class="preloader"></div><!-- Main Header-->
		        <header class="main-header">
            <!-- Main Box -->
            <div class="main-box">
                <div class="auto-container">
                    <div class="outer-container clearfix">
                        <div class="logo-box">
                            <div class="logo"><a href="http://payloop.net/Home"><img src="http://payloop.net/upload/logo/1552911260logo.png" alt="" height="50"></a></div>
                        </div>
                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button --><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                                <div class="navbar-collapse collapse scroll-nav clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown current"><a href="http://payloop.net/home">Home</a>
                                            <ul class="dropdown-large">
                                                <div class="container">
                                                    <div class="col-md-3 col-sm-6"><span class="title"><img src="http://payloop.net/usertheme/images/website.png" alt=""><span> Websites</span>
                                                            <p>Build great user experience</p>
                                                        </span><span><a href="#">Website Builder</a></span><span><a href="#">eCommerce</a></span><span><a href="#">Blogs</a></span><span><a href="#">Forums</a></span><span><a href="#">Slides</a></span><span><a href="#">Live Chat</a></span></div>
                                                    <div class="col-md-3 col-sm-6"><span class="title"><img src="http://payloop.net/usertheme/images/sales.png" alt=""><span> Sales</span>
                                                            <p>Boost your success rate</p>
                                                        </span><span><a href="#">Website Builder</a></span><span><a href="#">eCommerce</a></span><span><a href="#">Blogs</a></span><span><a href="#">Forums</a></span><span><a href="#">Slides</a></span><span><a href="#">Live Chat</a></span></div>
                                                    <div class="col-md-3 col-sm-6"><span class="title"><img src="http://payloop.net/usertheme/images/operation.png" alt=""><span> Operations</span>
                                                            <p>It's all about efficiency</p>
                                                        </span><span><a href="#">Website Builder</a></span><span><a href="#">eCommerce</a></span><span><a href="#">Blogs</a></span><span><a href="#">Forums</a></span><span><a href="#">Slides</a></span><span><a href="#">Live Chat</a></span></div>
                                                    <div class="col-md-3 col-sm-6"><span class="title"><img src="http://payloop.net/usertheme/images/tools.png" alt=""><span> Productivity Tools</span>
                                                            <p>Great Tools = Happy People</p>
                                                        </span><span><a href="#">Website Builder</a></span><span><a href="#">eCommerce</a></span><span><a href="#">Blogs</a></span><span><a href="#">Forums</a></span><span><a href="#">Slides</a></span><span><a href="#">Live Chat</a></span></div>
                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="http://payloop.net/Pricing">Pricing</a></li>
                                        <li><a href="http://payloop.net/Products">Products</a></li>
                                        <li><a href="http://payloop.net/Services">Services</a></li>
                                        <li><a href="http://payloop.net/Inventory">Inventory</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <div class="other-links"><a href="http://payloop.net/Login" class="theme-btn btn-style-one">SIGN IN</a></div>
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->
                            <!--Other Links-->
                        </div>
                        <!--Nav Outer End-->
                    </div>
                </div>
            </div>
        </header>
		<style>
.fixed-alert {
    position: fixed;
    top: 110px;
    z-index: 9;
    left: 50%;
    transform: translatex(-50%);
}
</style>
<div class="alert alert-success fixed-alert" id="alert" style="display:none;">
  			<h2>Thank you for contacting us.</h2>
			<p>You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message.</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
        <section class="products-section">
            <div class="auto-container">
                <!--Heading-->
                <div class="sec-title text-center">
                    <div class="icon">
                        <figure data-aos="fade-up" class="image"><img src="http://payloop.net/upload/product/1552974527icon-29.png" alt=""></figure>
                    </div>
                    <h2 data-aos="fade-up" data-aos-delay="100">Products</h2>
                    <div class="desc-text" data-aos="fade-up" data-aos-delay="200"><p>Fully Integrated Apps</p></div>
                </div>
                <!--Services-->
                <div class="services-outer clearfix">
                    <!--Service Style One-->
					                    <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976261accounting.png" alt=""></figure>
                            </div>
                            <h3><a href="#">ACCOUNTING</a></h3>
                            <div class="text"><p>Real time view of your chart of Accounts, taxes, fiscal positions, bank accounts, journals, Financial and Managment accounting reports.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976376crm.png" alt=""></figure>
                            </div>
                            <h3><a href="#">CRM</a></h3>
                            <div class="text"><p>Customer relationship management at its best. Generate leads, take advantage of opportunities and track customer service activities.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976393ecommerce.png" alt=""></figure>
                            </div>
                            <h3><a href="#">e-COMMERCE</a></h3>
                            <div class="text"><p>Sell and cross sell products online as they are available with additional payment channels beyond credit/debit card.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976475hr.png" alt=""></figure>
                            </div>
                            <h3><a href="#">HUMAN RESOURCE</a></h3>
                            <div class="text"><p>Manage employees across company locations. Manage time and attendance, leave requests, recruitment and so much more.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976491maketing.png" alt=""></figure>
                            </div>
                            <h3><a href="#">MARKETING</a></h3>
                            <div class="text"><p>Manage marketing initiatives across media touch-points, review marketing activities and measure performance across KPIs.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976522manufacturing.png" alt=""></figure>
                            </div>
                            <h3><a href="#">MANUFACTURING</a></h3>
                            <div class="text"><p>Create manufacturing orders based on bill of material. Manage and streamline manufacturing processes for revenue assurance and organisation excellence.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976553payment.png" alt=""></figure>
                            </div>
                            <h3><a href="#">PAYMENT</a></h3>
                            <div class="text"><p>Extensible payment, collection and remittance solution to settle vendors, employees, government agencies and customers.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976576point_of_sale.png" alt=""></figure>
                            </div>
                            <h3><a href="#">POINT OF SALES</a></h3>
                            <div class="text"><p>Quick turn around in provisioning PoS terminals with cash, card and cardless payments collection.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976594project.png" alt=""></figure>
                            </div>
                            <h3><a href="#">PROJECT</a></h3>
                            <div class="text"><p>Create projects, tasks, priorities and assign them to employees. Delve into task analysis to bring the best out of the project team.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976613purchase.png" alt=""></figure>
                            </div>
                            <h3><a href="#">PURCHASE</a></h3>
                            <div class="text"><p>Request for quotation, send purchase orders, manage vendors and products. Set process control on incoming products and vendor bills.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976629sale.png" alt=""></figure>
                            </div>
                            <h3><a href="#">SALES</a></h3>
                            <div class="text"><p>Create quotation, discounts and manage customers orders. Track invoicing process from orders to invoice and to upsell. View reports across sales channels.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                        <div class="service-style-one col-md-4 col-sm-6 col-xs-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="inner-box">
                            <div class="icon">
                                <figure class="image"><img src="http://payloop.net/upload/product/1552976644stock.png" alt=""></figure>
                            </div>
                            <h3><a href="#">STOCK INVENTORY</a></h3>
                            <div class="text"><p>Centralised warehouse inventory with advance stock taking and control. Dynamic inventory update from online and in-store sales activities.</p></div>
                            <div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                        </div>
                    </div>
                                    </div>
            </div>
        </section>
        
        <section class="contact-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="inner">
                            <figure class="image"><img src="http://payloop.net/upload/contact/1554557633featured-image-4.png" alt=""></figure>
                        </div>
                    </div>
                    <!--Form Column-->
                    <div class="form-column col-md-6 col-sm-12 col-xs-12">
                        <div class="sec-title">
                            <h2 data-aos="fade-up" data-aos-delay="150">GET IN TOUCH</h2>
                            <div class="desc-text" data-aos="fade-up" data-aos-delay="250"><p>Contact us about anything related to our company or services,We&#39;ll do our best to get back to you as soon as possible.</p></div>
                        </div>
                        <!--Contact Form-->
                        <div class="default-form contact-form">
                            <form method="post" id="contact-form">
                                <div class="form-group" data-aos="fade-up" data-aos-delay="300">
									<input type="text" id="bname" name="bname" value="" placeholder="Name">
									<span id="bname_error" style="color:red;"></span>
								</div>
                                <div class="form-group" data-aos="fade-up" data-aos-delay="350">
									<input type="text" id="boname" name="boname" value="" placeholder=" Owner’s Name">
									<span id="boname_error" style="color:red;"></span>
								</div>
                                <div class="form-group" data-aos="fade-up" data-aos-delay="400">
									<select name="stores" id="stores">
                                        <option value="">Select Option</option>
                                        <option value="How many stores of you have?">How many stores of you have?</option>
                                        <option value="Two Stores">Two Stores</option>
                                        <option value="Five Stores">Five Stores</option>
                                        <option value="Twelve Stores">Twelve Stores</option>
                                    </select>
									<span id="stores_error" style="color:red;"></span>
								</div>
                                <div class="form-group" data-aos="fade-up" data-aos-delay="450">
									<input type="text" id="phone" name="phone" value="" placeholder="Phone Number" onkeypress="return checkOnlyDigits(event)">
									<div id="errorMsg"></div>
									<span id="phone_error" style="color:red;"></span>
								</div>
                                <div class="form-group" data-aos="fade-up" data-aos-delay="500">
									<input type="text" id="email" name="email" value="" placeholder="Email Address">
									<span id="email_error" style="color:red;"></span>
								</div>
                                <div class="form-group" data-aos="fade-up" data-aos-delay="550">
									<button type="button" onclick="return getcontact();" class="theme-btn btn-style-two">Submite form <span class="icon ti-arrow-circle-right"></span>
									</button>
								</div>
                            </form>
                        </div>
                        <!--End Contact Form-->
                    </div>
                </div>
            </div>
        </section>
<!--Footer Style One-->
        <footer class="footer-style-one" data-aos="fade-up" data-aos-delay="300">
            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer-column">
                                <div class="footer-widget about-widget">
                                    <div class="widget-inner">
                                        <div class="logo"><img src="http://payloop.net/usertheme/images/logo-white.png" alt="" height="70"></div>
                                        <p>Payloop is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
                                        <p>Payloop's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
                                        <div class="copyright">&copy; 2019 Payloop.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Big Column-->
                        <div class="big-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Company</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">About us</a></li>
                                                    <li><a href="#">Careers</a></li>
                                                    <li><a href="#">Contact us </a></li>
                                                    <li><a href="#">Customers</a></li>
                                                    <li><a href="#">Career</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Resources</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">Library</a></li>
                                                    <li><a href="#">Support</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                    <li><a href="#">Live webinars</a></li>
                                                    <li><a href="#">API & Developers</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <div class="widget-inner">
                                            <h3>Solutions</h3>
                                            <div class="links">
                                                <ul>
                                                    <li><a href="#">Consumer</a></li>
                                                    <li><a href="#">Financial Services</a></li>
                                                    <li><a href="#">Media & Entertainment</a></li>
                                                    <li><a href="#">SaaS</a></li>
                                                    <li><a href="#">Infrastructure</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="footer-widget follow-widget">
                                        <div class="widget-inner">
                                            <h3>Follow</h3>
                                            <div class="social-links">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
    <script src="http://payloop.net/usertheme/js/jquery.js"></script>
    <script src="http://payloop.net/usertheme/js/bootstrap.min.js"></script>
    <script src="http://payloop.net/usertheme/js/pagenav.js"></script>
    <script src="http://payloop.net/usertheme/js/jquery.scrollTo.js"></script>
    <script src="http://payloop.net/usertheme/js/jquery.fancybox.pack.js"></script>
    <script src="http://payloop.net/usertheme/js/owl.js"></script>
    <script src="http://payloop.net/usertheme/js/wow.js"></script>
    <script src="http://payloop.net/usertheme/js/validate.js"></script>
    <script src="http://payloop.net/usertheme/js/script.js"></script>
    <script src="http://payloop.net/usertheme/js/aos.js"></script>
    <script>        
        AOS.init({
            useClassNames: true,
            initClassName: false,
            animatedClassName: 'animated',
            offset: 20,
        });
    </script>
	<script>
		function getcontact(){
			$("#bname_error").html("");
			$("#boname_error").html("");
			$("#stores_error").html("");
			$("#phone_error").html("");
			$("#email_error").html("");
			
			var bname = $("#bname").val();
			var boname = $("#boname").val();
			var stores = $("#stores").val();
			var phone = $("#phone").val();
			var email = $("#email").val();
			$evalidate = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
			var temp = 0;
				if(bname == ""){
            		$("#bname_error").html("Name is required.");
            		temp++;
        		}
				if(boname == ""){
            		$("#boname_error").html("Owner Name is required.");
            		temp++;
        		}
				if(stores == ""){
            		$("#stores_error").html("select option.");
            		temp++;
        		}
				if(phone == ""){
            		$("#phone_error").html("Phone is required.");
            		temp++;
        		}
				if(email == ""){
            		$("#email_error").html("Email is required.");
            		temp++;
        		}else{
					if(email.match($evalidate)){
		  		}else{
          			temp++;
            		$("#email_error").html("Invalid Email!!");
          		}
				}
				
				if(temp != 0){
            		return false;     
        		}else{
					
					$.ajax({
						type: "POST",
						url: "http://payloop.net/home/contact?bname="+bname+"&boname="+boname+"&stores="+stores+"&phone="+phone+"&email="+email,
						cache: false,
						success: function(result){
							if(result > 0){
								document.getElementById('alert').style.display = 'block';
								document.getElementById('bname').value= '';
								document.getElementById('boname').value= '';
								document.getElementById('stores').value= '';
								document.getElementById('phone').value= '';
								document.getElementById('email').value= '';
								
								
							}else{
								document.getElementById('alert').style.display = 'none';
							}
						}
					});
				}
		}
	</script>
	<script type="text/javascript">
		function checkOnlyDigits(e) {
			e = e ? e : window.event;
			var charCode = e.which ? e.which : e.keyCode;
			if (charCode < 48 || charCode > 57) {
				document.getElementById('errorMsg').style.display = 'block';
				document.getElementById('errorMsg').style.color = 'red';
				document.getElementById('errorMsg').innerHTML = 'OOPs! Only digits allowed.';
				return false;
			} else {
				document.getElementById('errorMsg').style.display = 'none';
				return true;
			}
		}
</script>
</body>

</html>